body {
  width : 100%;
  height : 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-color: #1A1A1A;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8x;
    background: none;
  }
  &:hover::-webkit-scrollbar-thumb {
      border-radius: 30px;
      background-color: darkgray;
  }
};

/* Pretendard 폰트 */
@font-face {
  font-family: 'Pretendard-Thin';
  src: url('./assets/fonts/common/pretendard/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
};
@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('./assets/fonts/common/pretendard/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-display: swap;
};
@font-face {
  font-family: 'Pretendard-Light';
  src: url('./assets/fonts/common/pretendard/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
};
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./assets/fonts/common/pretendard/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
};
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./assets/fonts/common/pretendard/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
};
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./assets/fonts/common/pretendard/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
};
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./assets/fonts/common/pretendard/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
};
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('./assets/fonts/common/pretendard/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
};
@font-face {
  font-family: 'Pretendard-Black';
  src: url('./assets/fonts/common/pretendard/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
};
